* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
.container {
  height: 100%;
}
.container {
  display: flex;
  background-color: #6e645f;
}

.left {
  background-color: #70d7b6;
  width: 45%;
  margin: 50px 15px 50px 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
p {
 
  margin: 0% 0% 6% 7%;
  color: #6e645f;
  font-size: 8vw;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  flex-grow: 1; 
  max-width: 100%; 
}

.right {
  width: 55%;
  margin: 50px 50px 50px 25px;
}
.right1row {
  background-color: #70d7b6;
  width: 100%;
  height: 30%;
  
}
.right2row {
  width: 100%;
  height: 31%;
  display: inline-flex;
}
.right2row1half {
  background-color: #70d7b6;
  width: 50%;
  height: 100%;
  margin: 20px 10px 0px 0px;
}
.right2row2half {
  background-color: #70d7b6;
  width: 50%;
  height: 100%;
  margin: 20px 0px 0px 10px;
}
.right3row {
  background-color: #70d7b6;
  width: 100%;
  height: 31%;
  margin: 20px 50px 0px 0px;
}
